.list {
  list-style: none;
  padding: 0;
}

.list--item {
  display: flex;
  align-items: flex-start;
}

.list--item:before {
  content: "☰";
  margin-right: 5px;
  margin-top: 0.2em;
  font-size: 0.8em;
  color: grey;
}

.list--content {
  flex-grow: 1;
  word-break: break-word;
}

.list--button {
  margin-left: 5px;
  border: 0;
  background: none;
  flex-shrink: 0;
  color: grey;
}
