.app {
  height: 100vh;
}

.controller {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 260px;
  max-height: 100%;
  overflow: auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
}

.form input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  font: inherit;
}

.paths {
  list-style: none;
  padding: 0;
}

.map > div,
.map {
  width: 100% !important;
  height: 100% !important;
}
